<header class="d-flex justify-content-between align-items-center position-fixed">
    <img src="assets/img/rj-logo.png" alt="rj-logo" routerLink="/home">
    <div class="header-links justify-content-between">
        <a href="#aboutMe">About me</a>
        <a href="#mySkills">Skills</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#contact">Contact</a>
    </div>
    <div class="burger-menu-container justify-content-center align-items-center">
        <img src="assets/img/burger-menu.svg" alt="burger-menu">
    </div>
</header>
