@media (max-width: 2000px) {
    header {
        padding: 20px 160px;
    }
    .header-links {
        gap: 32px;
    }
}


@media (max-width: 1600px) {
    header {
        img {
            width: 100px;
            height: 100px;
        }
    }
    a {
        font-size: 32px;
    }
}


@media (max-width: 1400px) {
    header {
        padding: 20px 100px;
    }
}


@media (max-width: 1280px) {
    header {
        img {
            width: 70px;
            height: 70px;
        }
    }
    a {
        font-size: 23px;
    }
}


@media (min-width: 981px) {
    a {
        &:hover {
            color: #00BEE8;
            &::before {
                width: 100%;
            }
        }
    }
}


@media (max-width: 750px) {
    header {
        padding: 20px 50px;
    }
}


@media (max-width: 650px) {
    .header-links {
        gap: 16px;
    }
    a{
        font-size: 20px;
    }
}


@media (max-width: 550px) {
    .header-links {
        display: none;
    }
    header {
        img {
            width: 40px;
            height: 40px;
        }
    }
    .burger-menu-container {
        display: flex;
        width: 40px;
        height: 40px;
        img {
            height: 20px;
        }
    }
}


@media (max-width: 450px) {
    header {
        padding: 20px 25px;
    }
}