<footer>
    <div class="max-width auto d-flex flex-column">
        <div class="footer-content d-flex align-items-center justify-content-between">
            <img class="logo" src="assets/img/rj-logo.png" alt="rj-logo">
            <div class="copyright-container d-flex justify-content-between gap-2">
                <span>©</span>
                <span>Raphael Janka 2023</span>
            </div>
            <div class="link-container d-flex justify-content-between">
                <a href="https://github.com/RaphaelJanka" target="_blank"><img src="assets/img/github.svg" alt=""></a>
                <a href="https://www.linkedin.com/in/raphael-janka-849798197/" target="_blank"><img src="assets/img/linkedin.svg" alt=""></a>
                <a href="mailto:raphael.janka@gmail.com"><img src="assets/img/mail.svg" alt=""></a>
            </div>
        </div>
        <div class="legal-notice">
            <a class="link-legal-notice" routerLink="/legal-notice">Legal notice</a>
        </div>
    </div>
</footer>
