footer {
    margin-top: 100px;
    border-top: 2px solid #00BEE8;
    background-color: #141D2F;
    padding: 50px 160px;
}


.logo {
    width: 140px;
    height: 140px;
}


.link-legal-notice {
    color: white;
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        height: 2px;
        width: 0;
        transition: width 0.3s ease-in-out;
        background-color: #4B47FF;
    }
}



.copyright-container {
    font-size: 32px;
    margin-left: 10px;
}


.link-container {
    gap: 4rem;
    img {
        height: 60px;
        width: 60px;
        filter: drop-shadow(4px 3px 7px #00BEE8);
        cursor: pointer;
    }
}