footer {
    margin-top: 100px;
    border-top: 2px solid #00BEE8;
    background-color: #141D2F;
    padding: 50px 100px;
}

.logo {
    width: 90px;
    height: 90px;
}
.legal-notice {
    text-decoration: none;
    color: white;
    &:hover {
        color: #00BEE8;
        filter: drop-shadow(4px 3px 7px #00BEE8);
    }
}
.copyright-container {
    font-size: 23px;
    margin-left: 10px;
}
.link-container {
    img {
        filter: drop-shadow(4px 3px 7px #00BEE8);
        &:hover {
            cursor: pointer;
            transform: scale(1.5);
            transition: all 100ms ease-in;
        }
    }
}

@media (max-width: 980px) {
    .link-container {
        gap: 2rem !important;
    }
}
@media (max-width: 750px) {
    footer {
        padding: 50px;
    }
    .copyright-container {
        font-size: 18px;
    }
}
@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        gap: 32px;
    }
    footer {
        align-items: center;
    }
    .legal-notice {
        margin-top: 32px;
    }
}

@media (max-width: 450px) {
    footer {
        padding: 50px 25px;
    }
}
