<footer class="d-flex flex-column">
    <div class="footer-content d-flex align-items-center justify-content-between">
        <img class="logo" src="assets/img/rj-logo.png" alt="rj-logo">
        <div class="copyright-container d-flex justify-content-between gap-2">
            <span>©</span>
            <span>Raphael Janka 2023</span>
        </div>
        <div class="link-container d-flex justify-content-between gap-5">
            <img src="assets/img/github.svg" alt="">
            <img src="assets/img/linkedin.svg" alt="">
            <img src="assets/img/mail.svg" alt="">
        </div>
    </div>
    <a class="legal-notice" href="#">Legal notice</a>
</footer>
