.about-me {
    margin-left: 160px;
    z-index: 1;
    position: relative;
    margin-top: 200px;
    scroll-margin-top: 150px;
    h1 {
        font-size: 120px;
        margin-bottom: 40px;
        font-weight: 700;
    }
    p {
        font-size: 28px;
        font-weight: 100;
        margin-bottom: 0;
    }
}


.introduction {
    max-width: 800px;
    img {
      width: 80px;
      height: 80px;
    }
}


.mt-40 {
    margin-top: 40px;
}


.puzzle-intro {
    margin-left: 68px;
}


.bulb-intro {
    margin-left: 85px;
}


.profile-container {
  display: flex;
}


.hero-profile {
  width: 400px;
  height: auto;
  border-radius: 0%;
  animation: border-radius-animation 18s infinite linear;
  box-shadow: 0 0 10px 2px #00BEE8;
  z-index: 2;
}
  
  
.separator-about-me {
    background-color: #00BEE8;
    box-shadow: -1px 0px 5px 1px #00BEE8;
    height: 1px;
    width: 200px;
}


.profile-background {
  background-image: url('/assets/img/profile-background.svg');
  z-index: 1;
  height: 700px;
  width: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
}

.hero-container {
  position: relative;
}


@keyframes border-radius-animation {
  0% {
    border-radius: 20% 0% 20% 0%;
  }
  25% {
    border-radius: 0% 20% 0% 20%;
  }
  50% {
    border-radius: 20% 0% 20% 0%;
  }
  75% {
    border-radius: 0% 20% 0% 20%;
  }
  100% {
    border-radius: 20% 0% 20% 0%;
  }
}