section {
    margin-top: 160px;
}


.separator-contact {
    width: 100px;
    height: 8px;
    background-color: #4B47FF;
}


h2 {
    font-size: 120px;
    font-weight: 700;
    margin-left: 50px;
}


.contact-container {
    margin: 80px 160px 0 160px;
    gap: 64px;
}


h3 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 32px;
}


.contact-subttitle-container {
    max-width: 760px;
    font-size: 28px;
}


form {
    max-width: 617px;
    gap: 32px;
    div {
        width: 100%;
    }
    input {
        background-color: transparent;
        border: 0;
        outline: none;
        padding: 0;
        color: white;
        font-size: 23px;
        &::placeholder {
            color: rgba(255, 255, 255, 0.8);
            font-size: 23px;
        }
    }
    textarea {
        color: white;
        background-color: transparent;
        border: 0;
        outline: none;
        padding: 0;
        height: 232px;
        resize: none;
        font-size: 23px;
        &::placeholder {
            color: rgba(255, 255, 255, 0.8);
            font-size: 23px;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
    span {
        font-size: 20px;
        margin-left: 16px;
    }
    a {
        text-decoration: none;
    }
}

button {
    background-color: #00BEE8;
    color: white;
    cursor: pointer;
    border: 0;
    font-size: 40px;
    padding: 8px 32px 16px 32px;
    border-radius: 10px;
    &:disabled {
        background-color: grey !important;
        box-shadow: 0 0 0 0 !important;
    }
}


.div-border {
    border: 2px solid #4B47FF;
    padding: 0 24px;
    gap: 16px;
    background-color: #141D2F;
}


.div-input {
    height: 80px;
}


.div-textarea {
    padding-top: 12px;
    padding-bottom: 10px;
}


.div-checkbox {
    padding-left: 16px;
}


.hidden {
    visibility: hidden;
}


#contact {
    scroll-margin-top: 150px;
}


.footer-background {
    left: 0;
    height: auto;
    width: 540px;
    z-index: -1;
    top: 455px;
}


.checkbox {
    width: 16px;
    height: 16px;
}