@media (max-width: 1700px) {
    .contact-subttitle-container {
        font-size: 23px;
        max-width: 630px;
    }
    h3 {
        font-size: 40px;
    }
    button {
        font-size: 32px !important;
    }
    form {
        span {
            font-size: 16px;
        }
        input {
            font-size: 20px;
            &::placeholder {
                font-size: 20px;
            }
        }
        textarea {
            font-size: 20px;
            &::placeholder {
                font-size: 20px;
            }
        }
    }
    .checkbox {
        width: 10px;
        height: 10px;
    }
}


@media (max-width: 1500px) {
    .contact-subttitle-container {
        font-size: 20px;
        max-width: 600px;
    }
    h2 {
        font-size: 100px;
    }
    button {
        font-size: 28px !important;
    }
    .div-input {
        height: 50px;
    }
    form {
        input {
            font-size: 16px;
            &::placeholder {
                font-size: 16px;
            }
        }
        textarea {
            font-size: 16px;
            &::placeholder {
                font-size: 16px;
            }
        }
    }
}


@media (max-width: 1400px) {
    .contact-container {
        margin: 80px 100px 0 100px;
    }
    .contact-subttitle-container {
        font-size: 20px;
    }
    .separator-contact {
        width: 50px;
    }
    h2 {
        font-size: 100px;
    }
    h3 {
        font-size: 36px;
    }
}


@media (max-width: 1280px) {
    .contact-subttitle-container {
        font-size: 16px;
        max-width: 460px;
    }
    h2 {
        font-size: 90px;
    }
    h3 {
        font-size: 32px;
    }
    form {
        span {
            font-size: 12px;
        }
    }
    button {
        font-size: 23px !important; 
        padding: 6px 32px 8px 32px !important;
        &:hover {
            padding: 12px 44px 14px 44px !important;
        }
        &:active {
            padding: 6px 32px 8px 32px !important;
        }
    }
    .separator-contact {
        height: 4px;
    }
    .footer-background {
        width: 455px;
        top: 406px;
    }
}


@media (max-width: 980px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }
    h2 {
        font-size: 64px;
        margin-left: 16px;
    }
    .footer-background {
        width: 230px;
        top: 876px;
    }
}


@media (max-width: 750px) {
    .contact-container {
        margin: 80px 50px 0 50px;
    }
}


@media (max-width: 600px) {
    h2 {
        font-size: 50px;
    }
}


@media (max-width: 450px) {
    .contact-container {
        margin: 80px 25px 0 25px;
    }
    .input-fields {
        width: 130px;
    }
    textarea {
        width: 100px;
    }
    h2 {
        font-size: 36px;
    }
}