<section id="portfolio" class="position-relative">
    <div class="d-flex flex-column align-items-end">
        <div class="d-flex align-items-center title-container">
            <div class="separator-small"></div>
            <h2>Portfolio</h2>
            <div class="separator-large"></div>
        </div>
        <div class="d-flex w-100 justify-content-center subtitle-container">
            <span>This page is a sample of my work - please feel free to try them out.</span>
        </div>
    </div>
    
    <div class="projects-container d-flex flex-wrap justify-content-center">    
        <div *ngFor="let project of notebooks; let i = index" class="position-relative project-box">
            <img src="assets/img/{{ project }}" alt="">
            <div class="position-absolute project-content d-flex flex-column align-items-center justify-content-center row-gap-3">
                <h3> {{ titles[i] }}</h3>
                <span class="tech"> {{ tech[i] }}</span>
                <span class="description">{{ descriptions[i] }}</span>
                <div class=" d-flex justify-content-center button-container">
                    <a href="" class="project-button rounded-3 d-flex align-items-center justify-content-center">Live Test</a>
                    <a href="{{ github[i] }}" class="github-button d-flex justify-content-center align-items-center rounded-3">Github</a>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/img/portfolio-background-1.svg" class="position-absolute portfolio-background-1">   
    <img src="assets/img/portfolio-background-2.svg" class="position-absolute portfolio-background-2">   
</section>
