section {
    margin-top: 160px;
    scroll-margin-top: 150px;
}


.separator-small {
    height: 8px;
    width: 204px;
    background-color: #4B47FF;
}


.separator-large {
    height: 8px;
    width: 33vw;
    background-color: #4B47FF;
}


.title-container {
    gap: 3rem;
}


h2 {
    font-size: 120px;
    font-weight: 700;
}


.subtitle-container {
    margin-top: 24px;
    padding: 0 100px;
    text-align: center;
    font-size: 28px;
}


.projects-container {
    margin: 160px 160px 0 160px;
    gap: 120px;
    img {
        width: 600px;
        height: auto;
        border-radius: 10px;
    }
}


.project-box {
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #00BEE8;
    cursor: pointer;
    
    &:hover {
        box-shadow: 0 0 35px 16px #00BEE8;
        transition: all 225ms ease-out;
    }
}


.project-content {
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    text-align: center;
    padding: 0 20px;
    background-color: #02006cc3;
    border-radius: 10px;
    opacity: 0;
    width: 100%;
    &:hover {
        opacity: 100;
        transition: all 225ms ease-in-out;
    }
    &:active {
        opacity: 100;
        transition: all 225ms ease-in-out;
    }
}


h3 {
    font-size: 48px;
}


.tech {
    color: #00BEE8;
    font-size: 32px;
}


.description {
    font-size: 23px;
}


.button-container {
    width: 100%;
    column-gap: 80px;
    margin-top: 12px;
}


a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    width: 170px;
    height: 50px;
    &:active {
        background-color: white !important;
        color: black;
    }
}


.project-button {
    background-color: #00BEE8;
    &:hover {
        background-color: #4B47FF;
        box-shadow: 0 0 10px 4px #00BEE8;
        transition: all 100ms ease-in;
    }
}


.github-button {
    border: 1px solid #00BEE8;
    &:hover {
        background-color: #00BEE8;
        box-shadow: 0 0 10px 4px #4B47FF;
        transition: all 100ms ease-in;
    }
}


.portfolio-background-1 {
    left: 0;
    top: 525px;
    height: auto;
    width: 26vw;
    z-index: -1;
}


.portfolio-background-2 {
    right: 0;
    bottom: -315px;
    height: auto;
    width: 265px;
    z-index: -1;
}