<section id="portfolio" class="position-relative">
    <div class="d-flex flex-column align-items-end hide">
        <div class="d-flex align-items-center title-container">
            <div class="separator-small"></div>
            <h2>Portfolio</h2>
            <div class="separator-large"></div>
        </div>
        <div class="d-flex w-100 justify-content-center subtitle-container">
            <span>This page is a sample of my work - please feel free to try them out.</span>
        </div>
    </div>

    <div class="d-flex justify-content-center filter-container">
        <button #allButton class="select-button" (click)="selectFilter('All')" (touchstart)="onTouchStartButtons($event)">All</button>
        <button #jsButton class="select-button" (click)="selectFilter('Javascript')" (touchstart)="onTouchStartButtons($event)">Javascript</button>
        <button #angularButton class="select-button" (click)="selectFilter('Angular')" (touchstart)="onTouchStartButtons($event)">Angular</button>
    </div>
    
    <div class="projects-container d-flex flex-column align-items-center" *ngIf="isVisible">    
        <div *ngFor="let project of filteredProjects; let i = index" class="position-relative project-box" [@flipAnimation]>
            <img src="assets/img/{{ project.image }}" alt=""> 
            <div class="position-absolute project-content d-flex flex-column align-items-center justify-content-center row-gap-3" (touchstart)="onTouchStart($event)">
                <h3> {{ project.title }}</h3>
                <span class="tech"> {{ project.tech }}</span>
                <span class="description">{{ project.description }}</span>
                <div class=" d-flex justify-content-center button-container">
                    <a *ngIf="project.projectLink" href="{{ project.projectLink }}" class="project-button rounded-3 d-flex align-items-center justify-content-center" target="_blank">Live Test</a>
                    <a href="{{ project.github }}" class="github-button d-flex justify-content-center align-items-center rounded-3" target="_blank">Github</a>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/img/portfolio-background-1.svg" class="position-absolute portfolio-background-1">   
    <img src="assets/img/portfolio-background-2.svg" class="position-absolute portfolio-background-2">   
</section>
