@media (max-width: 1500px) {
    h1 {
        font-size: 104px;
    }
    h2 {
        font-size: 48px;
    }
    h3 {
        font-size: 32px;
    }
    p {
        font-size: 24px;
    }
    li {
        font-size: 24px;
    }
}


@media (max-width: 1400px) {
    section {
        margin: 200px 100px 0 100px;
    }
}


@media (max-width: 1280px) {
    section {
        margin: 150px 100px 0 100px;
    }
    h1 {
        font-size: 88px;
        margin-bottom: 40px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
    li {
        font-size: 16px;
    }
}


@media (max-width: 800px) {
    h1 {
        font-size: 64px;
        margin-bottom: 24px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    li {
        font-size: 14px;
    }
}


@media (max-width: 750px) {
    section {
        margin: 150px 50px 0 50px;
    }
}


@media (max-width: 550px) {
    section {
        margin: 120px 50px 0 50px;
    }
    h1 {
        font-size: 48px;
        margin-bottom: 16px;
    }
    h2 {
        font-size: 20px;
        margin: 18px 0;
    }
    h3 {
        font-size: 16px;
    }
    p {
        font-size: 12px;
    }
    li {
        font-size: 12px;
    }
    hr {
        margin-top: 24px;
    }
}


@media (max-width: 450px) {
    section {
        margin: 120px 25px 0 25px;
    }
    h1 {
        font-size: 34px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 14px;
    }
    a {
        font-size: 8px;
    }
}