.my-skills {
    padding-left: 160px;
    padding-top: 260px;
    gap: 60px;
    scroll-margin-top: 150px;
    margin: auto;
}


.logo-container {
    max-width: 700px;
    gap: 130px;
    font-size: 28px;
    z-index: 1;
    img {
        width: 65px;
        height: 70px;
        &:hover {
            animation: bounce 0.5s ease;
        }
    }
}


.logo-boxes {
    width: 70px;
    row-gap: 12px;
}


.subline {
    text-align: center;
    font-size: 28px;
}


.separator-skills {
    height: 8px;
    width: 300px;
    background-color: #4B47FF;
    margin-top: 80px;
}


h2 {
    font-size: 120px;
    font-weight: 700;
    margin-bottom: 40px;
  
}


button {
    font-size: 40px;
    background-color: #00BEE8;
    color: white;
    margin-top: 80px;
    padding: 8px 32px 16px 32px;
    border-radius: 10px;
    border: 0;
}


.background-skills {
    height: auto;
    width: 652px;
    left: -174px;
    top: 240px;
    rotate: 296deg;
}


.second-responsive {
    display: none;
    margin-right: 100px;
    &:active {
        background-color: #4B47FF !important;
        color: white;
        box-shadow: 0 0 10px 4px #00BEE8;
    }
}


.first-responsive {
    &:hover {
        background-color: #4B47FF;
        padding: 14px 44px 22px 44px;
        box-shadow: 0 0 10px 4px #00BEE8;
        transition: all 225ms ease-in;
    }
    &:active {
        background-color: white !important;
        color: black !important;
        padding: 8px 32px 16px 32px;
  
    }
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px); 
    }
    60% {
        transform: translateY(-10px); 
    }
}