.my-skills {
    margin-left: 100px;
    margin-top: 260px;
    gap: 60px;
    scroll-margin-top: 150px;
}
.logo-container {
    max-width: 500px;
    gap: 73px;
    img {
        width: 55px;
        height: 60px;
    }
}
.logo-boxes {
    width: 70px;
}
.subline {
    text-align: center;
}
.separator-skills {
    height: 4px;
    width: 80px;
    background-color: #4B47FF;
    margin-top: 64px;
}
h2 {
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 40px;
  
}
button {
    font-size: 23px;
    background-color: #00BEE8;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    &:hover {
        background-color: #4B47FF;
        padding: 16px 30px;
        box-shadow: 0 0 10px 4px #00BEE8;
        transition: all 225ms ease-in;
    }
    &:active {
        background-color: white !important;
        color: black !important;
        padding: 6px 20px;
        border: 0;
    }
}
.background-skills {
    background-image: url('/assets/img/background-skills.svg');
    z-index: -1;
    height: 564px;
    width: 495px;
    background-size: cover;
    background-repeat: no-repeat;
    left: -364px;
    top: -5px;
    rotate: 296deg;
    background-position-x: -32px;
    background-position-y: -24px;
}

.second-responsive {
    display: none;
    width: 200px;
    margin-right: 100px;
}

@media (max-width: 1100px) {
    .logo-container {
        max-width: 400px;
        gap: 40px;
    }
    .my-skills {
        gap: 40px;
    }
}

@media (max-width: 980px) {
   .my-skills {
        flex-direction: column-reverse;
        margin-top: 200px;
   }
   .first-responsive {
        display: none;
   }
   .second-responsive {
        display: block;
   }
   .logo-container {
        max-width: 600px;
        gap: 60px;
        margin-right: 100px;
   }
   .my-skills {
        align-items: center;
   }
   h2 {
    margin-left: 19vw;
   }
   .separator-skills {
    width: 165px;
   }
  
}

@media (max-width: 800px) {
    .separator-skills {
        width: 80px;
    }
}
@media (max-width: 750px) {
    h2 {
        font-size: 64px;
        margin-left: 10vw;
    }
    .separator-skills {
        margin-top: 45px;
    }
    .my-skills {
        margin-left: 50px;
        margin-top: 160px;
    }
    .logo-container {
        margin-right: 50px;
        img {
            width: 46px;
            height: 52px;
        }
    }
    .second-responsive {
        margin-right: 50px;
    }

}
@media (max-width: 600px) {
    h2 {
        font-size: 50px;
        margin-left: 10vw;
    }
    .separator-skills {
        margin-top: 37px;
       }
}   
@media (max-width: 450px) {
    h2 {
        font-size: 36px;
        margin-left: 7vw;
    }
    .separator-skills {
        margin-top: 25px;
    }
    .logo-container {
        gap: 57px
    }
}
@media (max-width: 443px) {
    .logo-container {
        justify-content: center;
    }
}