@import 'bootstrap/scss/bootstrap';

body {
    margin: auto;
    background-color: #141D2F;
    color: white;
    scroll-behavior: smooth;
    max-width: 1920px;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #141D2F;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00BEE8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #4B47FF;
}

::-webkit-scrollbar-corner {
  background: transparent;
}