<section class="d-flex justify-content-end">
    <div class="hero-container">
        <img src="assets/img/main.png" alt="">
    </div>
    <div class="d-flex mr-100 introduction-container-responsive">
        <div class="d-flex flex-column justify-content-center align-items-center introduction-content-responsive">
            <div class="d-flex align-items-center">
                <span class="rotate">I am</span>
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <span class="name">Raphael Janka</span>
                    <span class="front-end">FRONTEND DEVELOPER</span>
                </div>
            </div>  
            <div class="button-container">
                <button onclick="window.location.href='#contact'" type="button" class="btn">Let's talk!</button>
            </div>
        </div>
    </div>
    <img class="bow" src="assets/img/bow.png" alt="">
    
</section>
<div class="d-flex align-items-center info-container position-absolute link-buttons-responsive">
    <div class="separator-atf"></div>
    <div class="d-flex justify-content-around link-container">
        <a href="https://github.com/RaphaelJanka"><img src="assets/img/github.svg" alt=""></a>
        <a href="https://www.linkedin.com/in/raphael-janka-849798197/"><img src="assets/img/linkedin.svg" alt=""></a>
        <a href="mailto:raphael.janka@gmail.com"><img src="assets/img/mail.svg" alt=""></a>
    </div>
    <span class="mail-address">raphael.janka@gmail.com</span>
</div>