section {
    width: 100%;
    padding-top: 250px;
    padding-bottom: 470px;
}

.atf-container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}


.hero {
    position: absolute;
    height: auto;
    width: 600px;
    left: 80px;
}

.background-img {
    position: absolute;
    z-index: -1;
    height: auto;
    width: 940px;
    left: -80px;
}


.rotate {
    transform: rotate(-90deg);
    font-size: 84px;
    margin-top: 31px;
}


.name {
    font-weight: bold;
    font-size: 120px;
    margin-bottom: -20px;
}


.mr-100 {
    margin-right: 160px;
}


.front-end {
    font-size: 76px;
    color: #4B47FF;
}


button {
    font-size: 40px;
    background-color: #00BEE8;
    color: white;
    padding: 8px 32px 16px 32px;
    border-radius: 10px;
    border: 0;
    &:active {
        background-color: #4B47FF;
        box-shadow: 0 0 10px 4px #00BEE8;
        transition: all 100ms ease-in;
    }
    
}


.button-container {
    height: 100px;
    position: relative;
    z-index: 1;
    margin-top: 40px;
}


.bow {
    position: absolute;
    width: 100%;
    top: 540px;
}


.info-container {
    gap: 80px
}
.above-info-container {
    width: 100%;
}
.info-box {
    margin: auto;
    position: relative;
}

.separator-atf {
    width: 300px;
    height: 8px;
    background-color: #4B47FF;
}


.mail-address {
    font-size: 32px;
}


.link-container {
    gap: 5rem;
    img {
        height: 60px;
        width: 60px;
        filter: drop-shadow(4px 3px 7px #00BEE8);
        cursor: pointer;
    }
}